@model Prism.OrchardCore.ViewModels.PrismSettingsViewModel

<div class="form-group type-part-display type-part-display-prism">
    <label asp-for="Theme">@T["Select the theme to use"]</label>
    <select asp-for="Theme" class="form-control col-sm-3">
        <option value="prism">@T["Default"]</option>
        <option value="prism-coy">@T["Coy"]</option>
        <option value="prism-dark">@T["Dark"]</option>
        <option value="prism-funky">@T["Funky"]</option>
        <option value="prism-okaidia">@T["Okaidia"]</option>
        <option value="prism-solarizedlight">@T["Solarized Light"]</option>
        <option value="prism-tomorrownight">@T["Tomorrow"]</option>
        <option value="prism-twilight">@T["Twilight"]</option>
    </select>
</div>
